body {
  font-family: 'Roboto Mono', monospace;
  color: #d0d0d0;
  background-color: #202020;
  text-align: center;
  margin: 1em;
  padding: 0;
}

h1 {
  font-size: 2em;
  word-wrap: break-word;
  margin: 1em 0;
}

input[type=button] {
  font-family: 'Roboto Mono', monospace;
  color: #aaa;
  background-color: #202020;
  border: none;
}

input[type=button] {
  cursor: pointer;
  font-size: large;
  padding: 0.5em 1em;
  margin: 0.5em;
}

input[type=text] {
  font-family: 'Roboto Mono', monospace;
  font-size: xx-large;
  color: #d0d0d0;
  background-color: #202020;
  border: none;
  border-bottom: 1px solid #d0d0d0;
  width: 90%;
  max-width: 500px;
  padding: 0.5em;
  box-sizing: border-box;
}

input[type=text]:focus {
  outline: none;
}

.info {
  font-style: italic;
  color: #28b;
}

.error {
  color: #c66;
}

.weak {
  color: #a63;
}

.ok {
  color: #aa2;
}

.strong {
  color: #6a2;
}

.correct {
  color: #192;
}

#allAnswersToggle {
  font-size: small;
  padding: 0.3em 0.6em;
  margin-top: 2em;
}

#expected {
  font-size: larger;
}

#submit {
  display: none;
}

@media (max-width: 600px) {
  body {
    font-size: 1em;
  }

  h1 {
    font-size: 1.6em;
  }

  #expected {
    font-size: medium;
  }
}
